#buddypress {
  position: relative;
}

.entry-content #buddypress p {
  line-height: inherit;
}

#buddypress .dir-search, #buddypress .groups-members-search {
  margin-bottom: 30px;
}
#buddypress .dir-search .input-group .form-control, #buddypress .groups-members-search .input-group .form-control {
  border-color: #d8dcde;
  border-right-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #7c7a7a;
}
#buddypress .dir-search .input-group .form-control:focus, #buddypress .dir-search .input-group .form-control:hover, #buddypress .dir-search .input-group .form-control:active, #buddypress .groups-members-search .input-group .form-control:focus, #buddypress .groups-members-search .input-group .form-control:hover, #buddypress .groups-members-search .input-group .form-control:active {
  border-color: #d8dcde;
  border-right-color: transparent;
  outline: none;
}
#buddypress .dir-search .input-group .input-group-btn .btn, #buddypress .groups-members-search .input-group .input-group-btn .btn {
  border-left-color: transparent;
  border-color: #d8dcde;
  color: #7c7a7a;
}
#buddypress .dir-search .input-group .input-group-btn .btn:hover, #buddypress .dir-search .input-group .input-group-btn .btn:active, #buddypress .dir-search .input-group .input-group-btn .btn:focus, #buddypress .groups-members-search .input-group .input-group-btn .btn:hover, #buddypress .groups-members-search .input-group .input-group-btn .btn:active, #buddypress .groups-members-search .input-group .input-group-btn .btn:focus {
  background-color: #FFF;
  border-left-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#buddypress .dir-search .input-group .input-group-btn .btn:after, #buddypress .groups-members-search .input-group .input-group-btn .btn:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e003";
}

#buddypress div.connect-item-list-tabs {
  margin-bottom: 20px;
  line-height: 25px;
}
#buddypress div.connect-item-list-tabs ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
  position: relative;
}
#buddypress div.connect-item-list-tabs ul:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;
  border-bottom: solid 1px #d8dcde;
}
#buddypress div.connect-item-list-tabs ul > li {
  float: none;
  border-bottom: solid 1px #d8dcde;
  padding-bottom: 10px;
  display: inline-block;
  margin: 0 -2px;
  margin-bottom: 15px;
  line-height: 27px;
}
#buddypress div.connect-item-list-tabs ul > li > a, #buddypress div.connect-item-list-tabs ul > li > span {
  line-height: initial;
  padding: 0 15px;
  display: inline-block;
  color: #66757f;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#buddypress div.connect-item-list-tabs ul > li > a:hover, #buddypress div.connect-item-list-tabs ul > li > a:active, #buddypress div.connect-item-list-tabs ul > li > a:focus, #buddypress div.connect-item-list-tabs ul > li > span:hover, #buddypress div.connect-item-list-tabs ul > li > span:active, #buddypress div.connect-item-list-tabs ul > li > span:focus {
  color: #ef4837;
}
#buddypress div.connect-item-list-tabs ul > li > a:after, #buddypress div.connect-item-list-tabs ul > li > span:after {
  content: '';
  position: absolute;
  border-right: 1px solid #66757f;
  height: 80%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#buddypress div.connect-item-list-tabs ul > li:last-child a:after, #buddypress div.connect-item-list-tabs ul > li:last-child span:after {
  border-right: none;
}
#buddypress div.connect-item-list-tabs ul > li > a span {
  border: solid 1px #d8dcde;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 70%;
  vertical-align: middle;
  text-align: center;
}
#buddypress div.connect-item-list-tabs ul > li.selected > a, #buddypress div.connect-item-list-tabs ul > li.current > a {
  background-color: transparent;
  color: #ef4837;
  opacity: 1;
  font-weight: 600;
}
#buddypress div.connect-item-list-tabs ul > li.selected > a:before, #buddypress div.connect-item-list-tabs ul > li.current > a:before {
  content: '\e253';
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: auto;
  bottom: -21px;
  left: 45%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 16px;
  color: #f7f7f7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  z-index: 5;
}
#buddypress div.connect-item-list-tabs ul > li.selected > a span, #buddypress div.connect-item-list-tabs ul > li.current > a span {
  border-color: #ef4837;
}

#buddypress div.connect-single-item-list-tabs {
  margin-bottom: 5px;
}
#buddypress div.connect-single-item-list-tabs ul {
  border-bottom: none;
}
#buddypress div.connect-single-item-list-tabs ul:after {
  display: none;
}
#buddypress div.connect-single-item-list-tabs ul > li {
  border-bottom: none;
  margin-bottom: 10px;
}
#buddypress div.connect-single-item-list-tabs ul > li.selected > a:before, #buddypress div.connect-single-item-list-tabs ul > li.current > a:before {
  display: none;
}
#buddypress div.connect-single-item-list-tabs select {
  margin-left: 15px;
}

#buddypress div.item-list-tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#buddypress .connect-order-select-wrap {
  position: absolute;
  top: 18px;
  right: 0;
  padding-left: 10px;
  background-color: #f7f7f7;
  margin-bottom: 15px;
  text-align: right;
}
@media (max-width: 767px) {
  #buddypress .connect-order-select-wrap {
    position: relative;
    top: auto;
    right: auto;
  }
}
@media (max-width: 992px) {
  #buddypress .connect-order-select-wrap.connect-order-select-wrap-md {
    position: relative;
    top: auto;
    right: auto;
  }
}
#buddypress .connect-order-select-wrap .connect-order-select {
  width: auto;
  max-width: 100%;
  display: inline-block;
}

#buddypress .connect-pagination {
  display: block;
}
#buddypress .connect-pagination .pagination-links label {
  margin-right: 15px;
}
#buddypress .connect-pagination .pagination-links .page-numbers {
  display: none;
}
#buddypress .connect-pagination .pagination-links .page-numbers:last-child {
  margin-left: -1px;
}
#buddypress .connect-pagination .pagination-links .next, #buddypress .connect-pagination .pagination-links .prev {
  display: inline-block;
  padding: 6px 12px;
  background-color: #FFF;
  color: #66757f;
  border: solid 1px #d3d7da;
  font-size: 0;
  line-height: 13px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#buddypress .connect-pagination .pagination-links .next:before, #buddypress .connect-pagination .pagination-links .prev:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 3px;
  font-size: 14px;
}
#buddypress .connect-pagination .pagination-links .next:hover, #buddypress .connect-pagination .pagination-links .next:focus, #buddypress .connect-pagination .pagination-links .next:active, #buddypress .connect-pagination .pagination-links .prev:hover, #buddypress .connect-pagination .pagination-links .prev:focus, #buddypress .connect-pagination .pagination-links .prev:active {
  background-color: #e9ebed;
}
#buddypress .connect-pagination .pagination-links .next:before {
  content: "\e258";
}
#buddypress .connect-pagination .pagination-links .prev {
  margin-right: -4px;
}
#buddypress .connect-pagination .pagination-links .prev:before {
  content: "\e257";
}
#buddypress .connect-pagination .pag-count {
  line-height: 35px;
}
#buddypress .connect-pagination-top {
  margin-top: 0;
}

#buddypress input.form-control, #buddypress select.form-control {
  border-color: #d8dcde;
  color: #7c7a7a;
}
#buddypress input.form-control::-webkit-input-placeholder, #buddypress select.form-control::-webkit-input-placeholder {
  color: #a1a1a1;
}
#buddypress input.form-control:-moz-placeholder, #buddypress select.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #a1a1a1;
}
#buddypress input.form-control::-moz-placeholder, #buddypress select.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #a1a1a1;
}
#buddypress input.form-control:-ms-input-placeholder, #buddypress select.form-control:-ms-input-placeholder {
  color: #a1a1a1;
}
#buddypress input.form-control:focus, #buddypress select.form-control:focus {
  border-color: #66afe9;
}

.bp-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

#pass-strength-result.short {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#buddypress #pass-strength-result {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #eee;
  display: none;
  text-align: center;
  width: 150px;
  max-width: 100%;
}
#buddypress #pass-strength-result.error, #buddypress #pass-strength-result.bad, #buddypress #pass-strength-result.good, #buddypress #pass-strength-result.short, #buddypress #pass-strength-result.strong {
  display: block;
}
#buddypress #pass-strength-result.error, #buddypress #pass-strength-result.bad {
  background-color: #ffb78c;
  border-color: #ff853c;
}
#buddypress #pass-strength-result.good {
  background-color: #ffec8b;
  border-color: #fc0;
}
#buddypress #pass-strength-result.short {
  background-color: #ffa0a0;
  border-color: #f04040;
}
#buddypress #pass-strength-result.strong {
  background-color: #c3ff88;
  border-color: #8dff1c;
}

@media (min-width: 992px) {
  #buddypress .standard-form .form-control {
    width: 75%;
  }
}

#message {
  margin-bottom: 15px;
  padding: 10px;
  border: solid 1px transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#message p {
  margin: 0;
}
#message.info, #message.updated {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
#message.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#buddypress .dir-list.members ul.item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#buddypress .dir-list.members ul.item-list li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #d8dcde;
}
#buddypress .dir-list.members ul.item-list li .item-avatar {
  margin-bottom: 10px;
  margin-right: 10px;
}
@media (min-width: 400px) {
  #buddypress .dir-list.members ul.item-list li .item-avatar {
    float: left;
  }
}
#buddypress .dir-list.members ul.item-list li .item-avatar img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 400px) {
  #buddypress .dir-list.members ul.item-list li .item, #buddypress .dir-list.members ul.item-list li .action {
    margin-left: 60px;
  }
}
#buddypress .dir-list.members ul.item-list li .item .item-name a {
  font-size: 14px;
  color: #66757f;
  font-weight: 600;
}
#buddypress .dir-list.members ul.item-list li .item .item-name a:hover, #buddypress .dir-list.members ul.item-list li .item .item-name a:focus, #buddypress .dir-list.members ul.item-list li .item .item-name a:active {
  color: #ef4837;
}
#buddypress .dir-list.members ul.item-list li .item .update {
  font-size: 13px;
}
#buddypress .dir-list.members ul.item-list li .item .activity {
  font-size: 12px;
  color: #a1a1a1;
}
#buddypress .dir-list.members ul.item-list li .action a {
  margin-top: 10px;
}

.buddypress .bp_members .entry-header .entry-title {
  display: none;
}

#buddypress #item-header {
  margin-bottom: 20px;
}
#buddypress #item-header #item-header-avatar {
  padding-right: 30px;
  display: table-cell;
  vertical-align: top;
  width: 150px;
}
#buddypress #item-header #item-header-avatar img {
  background-color: #FFF;
  border: 1px solid #dbdadb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}
#buddypress #item-header #item-header-content {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 400px) {
  #buddypress #item-header #item-header-content {
    display: block;
  }
}
#buddypress #item-header #item-header-content h2.user-name {
  font-size: 15px;
  color: #ef4837;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}
#buddypress #item-header #item-header-content h2.user-nicename {
  font-weight: 700;
  color: #66757f;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 5px;
}
#buddypress #item-header #item-header-content .activity {
  font-size: 12px;
}
#buddypress #item-header #item-header-content #latest-update {
  font-size: 13px;
  margin: 10px 0;
}
#buddypress #item-header #item-buttons .generic-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
#buddypress #item-header #item-buttons .generic-button .btn {
  min-width: 150px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#buddypress .profile h4 {
  font-weight: 600;
  color: #66757f;
  margin-bottom: 15px;
}
#buddypress .profile .bp-widget {
  margin-bottom: 20px;
}
#buddypress .profile .bp-widget table > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.01);
}
#buddypress .profile .bp-widget table.profile-fields {
  width: 100%;
  table-layout: fixed;
}
#buddypress .profile .bp-widget table.profile-fields td {
  padding: 8px;
  border: solid 1px #d8dcde;
}
#buddypress .profile .bp-widget table.profile-fields td.label {
  color: #7c7a7a;
  font-size: inherit;
  padding: 8px;
  width: 25%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
#buddypress .profile .bp-widget table.profile-fields td.data {
  width: 75%;
}
#buddypress .profile .bp-widget table.profile-fields td.data p {
  margin-bottom: 0;
}

#buddypress .profile .form-group label {
  display: block;
}
#buddypress .profile .form-group .field-inline-block {
  display: inline-block;
  width: auto;
  max-width: 100%;
}
#buddypress .profile .form-group .checkbox {
  margin: 0;
}
#buddypress .profile .form-group .checkbox label {
  margin: 5px 0;
}
#buddypress .profile .form-group .checkbox label:first-child {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  padding-left: 0;
  cursor: default;
  display: block;
}
#buddypress .profile .form-group .radio {
  margin: 0;
}
#buddypress .profile .form-group .radio label {
  margin: 5px 0;
}
#buddypress .profile .form-group .radio > label {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  padding-left: 0;
  cursor: default;
  display: block;
}
#buddypress .profile .form-group .clear-value {
  font-size: 12px;
}
#buddypress .profile .form-group .field-visibility-settings-toggle, #buddypress .profile .form-group .field-visibility-settings-notoggle {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 13px;
  font-style: italic;
}
#buddypress .profile .form-group p.description {
  font-size: 12px;
}
#buddypress .profile .form-group .field-visibility-settings {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
#buddypress .profile .form-group .field-visibility-settings fieldset legend {
  display: inline-block;
  width: auto;
  color: #66757f;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  margin-bottom: 0;
}
#buddypress .profile .form-group .field-visibility-settings fieldset ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  font-size: 13px;
}
#buddypress .profile .form-group .field-visibility-settings .field-visibility-settings-close {
  font-size: 12px;
}
#buddypress .profile .submit {
  margin-top: 25px;
}

#buddypress .dir-list.groups .item-list {
  padding: 0;
  list-style: none;
}
#buddypress .dir-list.groups .item-list > li.hidden {
  display: list-item !important;
}
#buddypress .dir-list.groups .group-panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#buddypress .dir-list.groups .group-panel .panel-body {
  padding-top: 10px;
}
#buddypress .dir-list.groups .item-avatar {
  padding: 5px;
}
@media (min-width: 500px) {
  #buddypress .dir-list.groups .item-avatar {
    float: left;
  }
}
@media (min-width: 500px) {
  #buddypress .dir-list.groups .panel-body {
    margin-left: 155px;
  }
}
#buddypress .dir-list.groups .meta {
  margin-bottom: 5px;
  color: #a1a1a1;
  font-size: 12px;
  float: none;
}
#buddypress .dir-list.groups .item-title {
  margin-bottom: 5px;
  margin-right: 20px;
}
#buddypress .dir-list.groups .item-title a {
  color: #66757f;
  font-weight: 600;
}
#buddypress .dir-list.groups .item-title a:hover, #buddypress .dir-list.groups .item-title a:focus, #buddypress .dir-list.groups .item-title a:active {
  color: #ef4837;
}
#buddypress .dir-list.groups .item-desc {
  font-size: 13px;
  margin-bottom: 15px;
}
#buddypress .dir-list.groups .action .item-meta {
  font-size: 12px;
  color: #a1a1a1;
  line-height: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 15px;
  float: left;
}
#buddypress .dir-list.groups .action .group-button {
  float: right;
}

#buddypress .groups-invites h4 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 400px) {
  #buddypress .groups-invites h4 {
    margin-left: 60px;
  }
}
#buddypress .groups-invites p.desc {
  font-size: 13px;
}
@media (min-width: 400px) {
  #buddypress .groups-invites p.desc {
    margin-left: 60px;
  }
}

#group-create-body, #group-settings-form {
  line-height: 1.6;
}
#group-create-body h4, #group-settings-form h4 {
  font-size: 18px;
  color: #66757f;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
#group-create-body .btn, #group-settings-form .btn {
  margin-top: 10px;
  margin-right: 10px;
}

#buddypress #invite-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#buddypress #invite-list ul li {
  margin-bottom: 5px;
}

#buddypress #group-create-body .left-menu, #buddypress .invite .left-menu {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.03);
}
@media (min-width: 992px) {
  #buddypress #group-create-body .left-menu, #buddypress .invite .left-menu {
    float: left;
    width: 250px;
  }
}
@media (min-width: 992px) {
  #buddypress #group-create-body .main-column, #buddypress .invite .main-column {
    margin-left: 270px;
  }
}
@media (min-width: 992px) {
  #buddypress #group-create-body ~ .submit, #buddypress .invite ~ .submit {
    margin-left: 270px;
  }
}

.buddypress .bp_group .entry-header .entry-title {
  display: none;
}

#buddypress #item-header #item-header-content .highlight {
  font-weight: 700;
  color: #66757f;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 5px;
}
#buddypress #item-header #item-header-content p {
  font-size: 13px;
  margin: 10px 0;
}
#buddypress #item-header h3 {
  margin: 10px 0 15px;
  font-size: 14px;
  font-weight: 700;
  color: #66757f;
}
#buddypress #item-header #group-admins {
  padding: 0;
  margin: 0;
  list-style: none;
}
#buddypress #item-header #group-admins li {
  display: inline-block;
  margin: 0 7px 7px 0;
}
#buddypress #item-header #group-admins li img {
  width: 40px;
  height: 40px;
}

#buddypress .manage-members h5 {
  margin: 0;
}
@media (min-width: 400px) {
  #buddypress .manage-members h5 {
    margin-left: 40px;
  }
}
#buddypress .manage-members h5 a {
  color: #66757f;
  font-weight: 600;
}
#buddypress .manage-members h5 a:hover, #buddypress .manage-members h5 a:focus, #buddypress .manage-members h5 a:active {
  color: #ef4837;
}
#buddypress .manage-members h5 span {
  display: block;
  margin-top: 5px;
}
#buddypress .manage-members h5 span a {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  border: solid 1px #d8dcde;
  color: #ef4837;
}
#buddypress .manage-members h5 span a:hover, #buddypress .manage-members h5 span a:active, #buddypress .manage-members h5 span a:focus {
  background-color: #EEE;
}

.buddypress .bp_activity .entry-header .entry-title {
  display: none;
}

#buddypress .post-box {
  margin-bottom: 20px;
}
#buddypress .post-box .nav-tabs {
  border-bottom: none;
}
#buddypress .post-box .nav-tabs > li > a {
  color: #66757f;
  font-size: 13px;
  font-weight: 600;
}
#buddypress .post-box .nav-tabs > li.active > a, #buddypress .post-box .nav-tabs > li.active > a:focus, #buddypress .post-box .nav-tabs > li.active > a:hover {
  color: #ef4837;
  border-color: #d8dcde;
  border-bottom-color: transparent;
}
#buddypress .post-box .nav-tabs > li.more {
  display: none;
}
#buddypress .post-box .nav-tabs > li.more .dropdown-menu {
  left: auto;
  right: 0;
  border-color: #d8dcde;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#buddypress .post-box .nav-tabs > li.more .dropdown-menu > li > a {
  color: #66757f;
  font-size: 13px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
#buddypress .post-box .nav-tabs > li.more .dropdown-menu > .active > a, #buddypress .post-box .nav-tabs > li.more .dropdown-menu > .active > a:focus, #buddypress .post-box .nav-tabs > li.more .dropdown-menu > .active > a:hover {
  color: #FFF;
  background-color: #ef4837;
}
#buddypress .post-box .nav-tabs > li.open > a, #buddypress .post-box .nav-tabs > li.open > a:focus, #buddypress .post-box .nav-tabs > li.open > a:hover {
  border-color: transparent;
}
#buddypress .post-box .nav-tabs > li.active > a, #buddypress .post-box .nav-tabs > li.active > a:focus, #buddypress .post-box .nav-tabs > li.active > a:hover {
  border-color: #d8dcde;
  border-bottom-color: transparent;
}
#buddypress .post-box .tab-content .tab-pane {
  background-color: #FFF;
  border: solid 1px #d8dcde;
  border-bottom: none;
  padding: 20px 15px 5px;
}
#buddypress .post-box textarea {
  resize: none;
}
#buddypress .post-box textarea::-webkit-input-placeholder {
  color: #a1a1a1;
}
#buddypress .post-box textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #a1a1a1;
}
#buddypress .post-box textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #a1a1a1;
}
#buddypress .post-box textarea:-ms-input-placeholder {
  color: #a1a1a1;
}
#buddypress .post-box .post-options {
  border: solid 1px #d8dcde;
  border-top: none;
  background-color: #FFF;
  padding: 0 15px 15px;
}
#buddypress .post-box .post-options .post-button {
  min-width: 100px;
}
@media (max-width: 767px) {
  #buddypress .post-box .post-options .post-button {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  #buddypress .post-box #whats-new-post-in-box, #buddypress .post-box #whats-new-submit {
    display: inline-block;
  }
}

#buddypress .activity-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#buddypress .activity-item {
  margin-bottom: 20px;
}
#buddypress .activity-item:hover .activity-meta .delete-activity {
  display: block;
}
#buddypress .activity-item .activity-panel {
  margin-bottom: 0;
  position: relative;
}
#buddypress .activity-item .activity-avatar {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (min-width: 400px) {
  #buddypress .activity-item .activity-avatar {
    float: left;
  }
}
#buddypress .activity-item .activity-avatar img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#buddypress .activity-item .activity-header {
  margin-bottom: 15px;
}
@media (min-width: 400px) {
  #buddypress .activity-item .activity-header {
    margin-left: 60px;
    padding-right: 20px;
  }
}
#buddypress .activity-item .activity-header > p {
  font-size: 13px;
  margin-bottom: 0;
}
#buddypress .activity-item .activity-header > p > a:first-child {
  font-weight: 700;
  font-size: 15px;
  color: #7c7a7a;
}
#buddypress .activity-item .activity-header > p > a:first-child:hover {
  color: #ef4837;
}
#buddypress .activity-item .activity-header > p > a:first-child:after {
  content: '';
  display: block;
  margin-bottom: -2px;
}
#buddypress .activity-item .activity-header > p .time-since {
  font-size: 12px;
}
#buddypress .activity-item .activity-header > p .time-since:before {
  content: '';
  display: block;
}
#buddypress .activity-item .activity-header > p img.avatar {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}
#buddypress .activity-item .activity-inner {
  margin-bottom: 15px;
}
#buddypress .activity-item .activity-meta .button {
  color: #66757f;
  margin-right: 5px;
}
#buddypress .activity-item .activity-meta .delete-activity {
  font-size: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #a1a1a1;
}
@media (min-width: 768px) {
  #buddypress .activity-item .activity-meta .delete-activity {
    display: none;
  }
}
#buddypress .activity-item .activity-meta .delete-activity:hover, #buddypress .activity-item .activity-meta .delete-activity:active, #buddypress .activity-item .activity-meta .delete-activity:focus {
  color: #ef4837;
}
#buddypress .activity-item .activity-meta .delete-activity:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f014";
  font-size: 14px;
}
#buddypress .activity-item .activity-comment-panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: -2px;
}
#buddypress .activity-item .activity-comments {
  padding: 0 15px;
}
#buddypress .activity-item .activity-comments form.ac-form {
  padding: 15px 0;
  display: none;
}
#buddypress .activity-item .activity-comments form.ac-form .ac-reply-avatar {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (min-width: 400px) {
  #buddypress .activity-item .activity-comments form.ac-form .ac-reply-avatar {
    float: left;
  }
}
#buddypress .activity-item .activity-comments form.ac-form .ac-reply-avatar img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 400px) {
  #buddypress .activity-item .activity-comments form.ac-form .ac-reply-content {
    margin-left: 50px;
  }
}
#buddypress .activity-item .activity-comments ul {
  list-style: none;
}
#buddypress .activity-item .activity-comments ul li {
  margin-bottom: 10px;
  font-size: 13px;
}
#buddypress .activity-item .activity-comments ul li .acomment-avatar {
  float: left;
}
#buddypress .activity-item .activity-comments ul li .acomment-meta, #buddypress .activity-item .activity-comments ul li .acomment-content, #buddypress .activity-item .activity-comments ul li .acomment-options {
  margin-left: 50px;
}
#buddypress .activity-item .activity-comments ul li .acomment-meta {
  font-size: 12px;
  margin-bottom: 10px;
}
#buddypress .activity-item .activity-comments ul li .acomment-meta > a:first-child {
  font-size: 14px;
  color: #66757f;
  font-weight: 600;
}
#buddypress .activity-item .activity-comments ul li .acomment-meta > a:first-child:hover, #buddypress .activity-item .activity-comments ul li .acomment-meta > a:first-child:focus, #buddypress .activity-item .activity-comments ul li .acomment-meta > a:first-child:active {
  color: #ef4837;
}
#buddypress .activity-item .activity-comments ul li .acomment-meta > a:first-child:after {
  content: '';
  display: block;
  margin-top: -3px;
}
#buddypress .activity-item .activity-comments ul li .acomment-options {
  margin-bottom: 10px;
}
#buddypress .activity-item .activity-comments ul li .acomment-options a {
  margin-right: 10px;
}
#buddypress .activity-item .activity-comments ul li {
  border-top: solid 1px #d8dcde;
  margin-bottom: 0;
  padding-top: 10px;
}
#buddypress .activity-item .activity-comments > ul:first-child > li:first-child {
  border-top: none;
}
#buddypress .activity-item .activity-comments > ul {
  max-height: 350px;
  overflow-y: auto;
  padding: 15px 15px 0;
  margin: 0 -15px 10px;
  border-bottom: solid 1px #d8dcde;
}
#buddypress .activity-item .activity-comments > ul li > ul {
  padding-left: 30px;
}

table.notification-settings {
  width: 100%;
  margin-bottom: 10px;
}
table.notification-settings td:first-child, table.notification-settings th.icon {
  display: none;
}
table.notification-settings thead tr > th:nth-of-type(3), table.notification-settings thead tr > th:nth-of-type(4) {
  width: 10%;
  text-align: center;
}
table.notification-settings thead tr {
  background-color: #DDD;
}
table.notification-settings thead tr > th {
  border: solid 1px #d8dcde;
  padding: 5px 10px;
}
table.notification-settings tbody tr > td:nth-of-type(3), table.notification-settings tbody tr > td:nth-of-type(4) {
  text-align: center;
}
table.notification-settings tbody tr > td {
  border: solid 1px #DDD;
  padding: 5px 10px;
}
table.notification-settings tbody tr:hover {
  background-color: #EEE;
}

table.profile-settings {
  width: 100%;
  margin-bottom: 10px;
}
table.profile-settings thead tr > th:nth-of-type(1) {
  width: 70%;
}
table.profile-settings thead tr > th:nth-of-type(2) {
  width: 30%;
}
table.profile-settings thead tr {
  background-color: #DDD;
}
table.profile-settings thead tr > th {
  border: solid 1px #d8dcde;
  padding: 5px 10px;
}
table.profile-settings tbody tr > td {
  border: solid 1px #DDD;
  padding: 5px 10px;
}
table.profile-settings tbody tr:hover {
  background-color: #EEE;
}

/*# sourceMappingURL=buddypress.css.map */
