$color_body-background: #f7f7f7;

// text
$color_text: #7c7a7a;
$color_text-grey: #a1a1a1;
$color_text-dark: #66757f;

// link
$color_link-main: #ef4837;
$color_link-main-hover: #bf392c;

$color_line: #d8dcde;

// input
$color_input-border: #d8dcde;
$color_input-text: #7c7a7a;
$color_btn-default-text: #66757f;
$color_btn-default-border: #d3d7da;
$color_btn-default-bg-hover: #e9ebed;
$color_btn-primary-bg: #ef4837;
$color_btn-primary-bg-hover: #bf392c;
$color_btn-primary-bg-disabled: #8f2b21;

// navbar
$color_nav-link: #66757f;

// side
$color_side-bg: #151f28;
$color_side-text: #EEE;

// notice
$color_notice-info-text: #31708f;
$color_notice-info-bg: #d9edf7;
$color_notice-info-border: #bce8f1;
$color_notice-error-text: #a94442;
$color_notice-error-bg: #f2dede;
$color_notice-error-border: #ebccd1;
