
.site-sidebar{
    .widget{
        margin-bottom: 40px;
        h2.widget-title{
            font-size: 16px;
            font-weight: 700;
            color: $color_text;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
    .widget_recent_entries{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            color: $color_text;
            li{
                position: relative;
                margin-bottom: 10px;
                a{
                    color: $color_text;
                    &:hover{
                        color: $color_link-main;
                    }
                }
                span{
                    font-size: 12px;
                    display: block;
                    color: $color_text-grey;
                }
            }
        }
    }
}