
.site-sidebar{
    .widget{
        margin-bottom: 40px;
        h2.widget-title{
            font-size: 16px;
            font-weight: 700;
            color: $color_text;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
    .widget_recent_entries{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            color: $color_text;
            li{
                position: relative;
                margin-bottom: 10px;
                a{
                    color: $color_text;
                    &:hover{
                        color: $color_link-main;
                    }
                }
                span{
                    font-size: 12px;
                    display: block;
                    color: $color_text-grey;
                }
            }
        }
    }
}

.buddypress.widget{
    h2.widget-title{
        display: inline-block;
    }
    .item-options{
        float: right;
        margin-left: 15px;
        margin-bottom: 15px;
        &:after{
            clear: both;
            content: '';
            display: table;
        }
    }
    .item-list{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            margin: 0 10px 10px 0;
            >.item{
                display: none;
            }
        }
        &:after{
            clear: both;
            content: '';
            display: table;
        }
    }
}
