@import "columns";
@import "responsive";

.site-main{
    position: relative;
}
.site-header{
    @media(min-width: 768px){
        height: 80px;
    }
}
.site-content{
    padding: 15px;
    display: block;
    @media(min-width: 768px){
        margin-right: 250px;
        padding: 15px;
    }
    @media(min-width: 992px){
        margin-right: 350px;
        padding: 20px;
    }
    @media(min-width: 1560px){
        margin-right: 450px;
        padding: 30px;
    }
}
.site-sidebar{
    background-color: #FFF;
    display: none;
    @media(min-width: 768px){
        position: absolute;
        display: block;
        right: 0;
        width: 250px;
        padding: 10px;
        padding-top: 15px;
    }
    @media(min-width: 992px){
        width: 350px;
        padding: 15px;
        padding-top: 15px;
    }
    @media(min-width: 1560px){
        width: 450px;
        padding: 20px;
        padding-top: 15px;
        
    }
}

.site-content{
}
.site-sidebar{
}