body.side-opened{
    overflow-x: hidden;
    .page-wrapper{
        position: fixed;
        overflow-x: hidden;
        
    }
}
.page-wrapper{
    @include transition(transform 0.3s);
    position: relative;
    .page-overlay{
        opacity: 0;
        z-index: -1;
        &.active{
            position: absolute;
            background-color: #000;
            opacity: 0.1;
            top: -78px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1040;
        }
    }
    &.open-left{
        @include transform(translateX(300px));
        @media(max-width: 350px){
            @include transform(translateX(220px));
        }
    }
    &.open-right{
        @include transform(translateX(-300px));
        @media(max-width: 350px){
            @include transform(translateX(-220px));
        }
    }
}

.site-menu-side{
    position: fixed;
    background-color: #636161;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    @media(max-width: 350px){
        left: -200px;
        width: 200px;
    }
    max-width: 70%;
    height: 100%;
    height: 100vh;
    border-right: solid 1px $cn-grey-line-1;
    border-bottom: solid 1px $cn-grey-line-1;
    padding: 20px;
    overflow-y: auto;
    @include transition(all 0.3s);
    &.open{
        left: 0;
    }
    >ul{
        padding: 0;
        margin: 0;
        list-style: none;
        margin-left: -20px;
        margin-right: -20px;
        >li{
            border-bottom: 1px solid $cn-grey-1;
            >a{
                display: block;
                padding: 10px 25px;
                color: #FFF;
                &:hover, &:active, &:focus{
                    background-color: #6f6d6d;
                    background-color: rgba(0,0,0,0.1);
                }
            }
            &.active{
                >a{

                }
            }
        }
    }
}

.site-navbar{
    @media(min-width: 1560px){
        .site-navbar-search{
            padding-left: 30px;
            padding-right: 50px;
        }
    }
    .site-menu-bar{
        display: none;
        font-size: 24px;
        line-height: 26px;
        margin-top: 26px;
        margin-bottom: 26px;
        >a{
            color: $cn-red-1;
            &:hover, &:focus, &:active{
                color: $cn-red-2;
            }
        }
    }
}

.site-header{
    &.header-resp-1{
        .navbar-user{
            .user-name{
                display: none;
            }
            >.user-dropdown{
                .dropdown-menu:after{
                    left: auto;
                    right: 50px;
                }
            }
        }
    }
    &.header-resp-2{
        .site-menu-bar{
            display: block;
        }
        .site-menu{
            display: none;
        }
    }
}

/*768px*/
.site-navbar{
    @media(max-width: 767px){
        min-height: 50px;
    }
    .side-left-bar,
    .side-right-bar{
        display: none;
        color: $cn-red-1;
        line-height: 30px;
        font-size: 20px;
        margin: 10px 15px 0 15px;
        @media(max-width: 767px){
            display: inline;
        }
        .badge{
            padding: 2px 4px;
            top: -4px;
            right: -8px;
        }
    }
    .navbar-header{
        @media(max-width: 767px){
            text-align: center;
            padding: 0 20px;
            .navbar-brand{
                float: none;
                height: 50px;
                line-height: 50px;
                .site-logo{
                    display: inline;
                    padding: 0 15px;
                    img{
                        height: 30px;
                    }
                }
            }
        }

    }
}
.side-left.site-navbar{
    position: fixed;
    background-color: #636161;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    color: #FFF;
    @media(max-width: 350px){
        left: -220px;
        width: 220px;
    }
    max-width: 70%;
    height: 100vh;
    border-right: solid 1px $cn-grey-line-1;
    border-bottom: solid 1px $cn-grey-line-1;
    overflow-y: auto;
    overflow-x: hidden;
    @include transition(all 0.3s);
    &.open{
        left: 0;
    }
    .side-left-wrap{
        position: relative;
        height: auto;
        min-height: 99vh;
        padding: 20px 15px;
        padding-bottom: 80px;
    }
    a{
        color: #EFEFEF;
    }
    .side-left-top{
        margin-bottom: 20px;
        >ul{
            padding: 0;
            margin: 0;
            list-style: none;
            >li{
                padding-left: 30px;
                &:first-child{
                    padding-left: 0;
                }
                >a{
                    color: $cn-grey-5;
                    &:hover, &:focus, &:active{
                        color: #FFF;
                    }
                }
            }
        }
        .side-left-top-dropdown{
            margin-top: 10px;
        }
    }
    .side-left-bottom{
        position: absolute;
        bottom: 0;
        font-size: 13px;
        font-weight: 600;
    }

    .navbar-user{
        margin-bottom: 20px;
        >.user-dropdown{
            >a{
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
                color: #EFEFEF;
                &:hover, &:focus, &active{
                    color: #FFF;
                }
            }
            &.open{
                >a{
                    color: #FFF;
                }
            }
            .user-photo{
                width: 35px;
                height: 35px;
            }
            .badge-wrap .badge{
                top: -5px;
            }
            >.dropdown-menu{
                padding: 0;
                background-color: rgba(0,0,0,0.3);
                @include box-shadow(none);
                border-bottom: solid 1px $cn-grey-1;
                &:after{
                    content: '';
                }
                li{
                    >a{
                        color: #EFEFEF;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        &:hover, &:focus, &:active{
                            background-color: rgba(0,0,0,0.2);
                        }
                    }
                    padding: 0;
                    .dropdown-sub-menu{
                        @include box-shadow(none);
                        color: #EFEFEF;
                        border-bottom: solid 1px $cn-grey-1;
                        background-color: rgba(0,0,0,0.1);
                        >li>a{
                            padding-left: 35px;                            
                        }
                        &:before{
                            content: '';
                        }
                    }
                }
            }
        }
    }

    .site-menu{
        padding: 0;
        margin: 0;
        list-style: none;
        margin-left: -20px;
        margin-right: -20px;
        >li{
            border-bottom: 1px solid $cn-grey-1;
            >a{
                display: block;
                padding: 10px 25px;
                color: #EFEFEF;
                &:hover, &:active, &:focus{
                    background-color: #6f6d6d;
                    background-color: rgba(0,0,0,0.1);
                }
            }
            &.active{
                >a{

                }
            }
        }
    }

    .side-left-search{

    }
    .side-left-friend, .side-left-message, .side-left-notification{
        margin-left: -15px;
        margin-right: -15px;
        border-top: 1px solid $cn-grey-1;
        border-bottom: 1px solid $cn-grey-1;
        >ul{
            padding: 0;
            margin: 0;
            list-style: none;
            .item-list{
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    height: 250px;
                    overflow-y: auto;
                    background-color: rgba(0,0,0,0.2);
                    .item{
                        padding: 10px;
                        position: relative;
                        border-bottom: 1px solid $cn-grey-1;
                        padding-left: 55px;
                        &:last-child{
                            border-bottom: none;
                        }
                        .item-photo{
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            left: 15px;
                        }
                        .item-content{
                            color: $cn-grey-3;
                            font-size: 13px;
                            .item-user{
                                font-weight: 600;
                                color: #FEFEFE;
                            }
                        }
                        .item-message{
                            font-size: 12px;
                        }
                    }
                }
            }
            .item-all{
                padding: 10px 0;
                text-align: center;
                border-top: solid 1px $cn-grey-1;
                a{

                }
            }
        }
    }
    .side-left-friend{
        >ul{
            .item-list{
                ul{
                    .item{
                        padding-right: 65px;
                        .item-buttons{
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            button{
                                padding: 2px 5px;
                                width: 24px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .side-left-notification{
        >ul{
            .item-list{
                ul{
                    .item{
                        padding: 15px;
                        padding-left: 65px;
                        .item-photo{
                            left: 25px;
                        }
                        &:before{
                            position: absolute;
                            @include fa();
                            content: '\f1db';
                            color: $cn-red-1;
                            left: 8px;
                            top: 25px;
                            font-size: 11px;

                        }
                        &.new{
                            &:before{
                                content: '\f111';
                            }
                        }
                        .item-content{
                            .item-time{
                                color: #777777;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .side-left-languages{
        padding-bottom: 15px;
        .dropdown-menu{
            a{
                color: $cn-grey-4;
            }
        }
    }

}

.side-right.side-chat{
    display: block;
    position: fixed;
    background-color: #FFF;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    @media(max-width: 350px){
        right: -220px;
        width: 220px;
    }
    max-width: 70%;
    height: 100vh;
    border-left: solid 1px $cn-grey-line-1;
    border-bottom: solid 1px $cn-grey-line-1;
    padding: 15px;
    @include transition(all 0.3s);
    &.open{
        right: 0;
    }
    .chat-search{
        @include border-radius(0);
        border-color: $cn-grey-line-1;
        margin-bottom: 15px;
        @include box-shadow(none);
        &:focus{
            @include box-shadow(none);
        }
    }
    .chat-top{
        font-size: 13px;
        font-weight: 700;
        color: $cn-grey-6;
        .fa{
            font-size: 9px;
            margin-right: 5px;
        }
    }
    .chat-list{
        padding: 0;
        padding-left: 10px;
        margin: 0;
        list-style: none;
        li{
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 13px;
            img{
                width: 40px;
                height: 40px;
                @include border-radius(50%);
                margin-right: 10px;
            }
        }
    }
}