.site-navbar{
    @media(min-width: 1560px){
        .site-navbar-search{
            padding-left: 30px;
            padding-right: 50px;
        }
    }
    .site-menu-bar{
        display: none;
        font-size: 24px;
        line-height: 26px;
        margin-top: 26px;
        margin-bottom: 26px;
        >span{
            cursor: pointer;
            color: $color_link-main;
            &:hover, &:focus, &:active{
                color: $color_link-main-hover;
            }
        }
    }
}
body.side-opened{
    overflow-x: hidden;
    >.site-page{
        overflow-x: hidden;
    }
}
.page-wrap{
    @include transition(transform 0.3s);
    position: relative;
    .page-overlay{
        opacity: 0;
        z-index: -1;
        &.active{
            position: absolute;
            background-color: #000;
            opacity: 0.1;
            top: -78px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1040;
        }
    }
    &.open-left{
        @include transform(translateX(70%));
        @media(min-width: 420px){
            @include transform(translateX(300px));
        }
    }
    &.open-right{
        @include transform(translateX(-70%));
        @media(min-width: 420px){
            @include transform(translateX(-300px));
        }
    }
}
.site-header{
    &.header-resp-1{
        .nav-user-dropdown{
            .username, .caret{
                display: none;
            }
            img.avatar{
                margin: 0;
            }
            >.dropdown-menu{
                &:after{
                    right: 27px;
                }
            }
        }
    }
    &.header-resp-2{
        .site-menu-bar{
            display: block;
        }
        .site-menu{
            display: none;
        }
    }
}

.side-menu-wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    max-width: 70%;
    height: 100%;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    @include transition(all 0.3s);
    &.open{
        left: 0;
    }
}

/*
 768px
*/
/*
 header height
*/
.site-header .site-navbar{
    @media(max-width: 767px){
        min-height: 50px;
    }
    .navbar-header{
        @media(max-width: 767px){
            text-align: center;
            padding: 0 20px;
            .navbar-brand{
                float: none;
                height: 50px;
                line-height: 50px;
                .site-logo{
                    display: inline;
                    padding: 0 15px;
                    img{
                        height: 30px;
                    }
                }
            }
        }

    }
}

/*
 menu toggle
*/
.site-navbar{
    .side-left-bar,
    .side-right-bar{
        display: none;
        color: $color_link-main;
        line-height: 30px;
        font-size: 20px;
        margin: 10px 15px 0 15px;
        @media(max-width: 767px){
            display: inline;
        }
    }
    .side-left-bar img.avatar{
        @include border-radius(50%);
    }
}

.side-left, .side-right{
    @media(min-width: 768px){
        display: none;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    width: 70%;
    @media(min-width: 420px){
        width: 300px;
    }
    @include transition(all 0.3s);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.side-left{
    left: -70%;
    @media(min-width: 420px){
        left: -300px;
    }
    &.open{
        left: 0;
    }
}
.side-right{
    right: -70%;
    @media(min-width: 420px){
        right: -300px;
    }
    &.open{
        right: 0;
    }
}