.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.connect-input{
    border-color: $color_input-border;
    color: $color_text;
}
.connect-btn{
    font-weight: 600;
    font-size: 13px;
    @include transition(all 0.3s);
}
.connect-btn-default{
    color: $color_btn-default-text;
    border-color: $color_btn-default-border;
    &:hover, &:focus, &:active{
        color: $color_btn-default-text;
        background-color: $color_btn-default-bg-hover;
        border-color: $color_btn-default-border;
    }

}
.connect-btn-primary{
    background: $color_btn-primary-bg;
    border-color: $color_btn-primary-bg;
    color: #FFF;
    &:hover, &:focus, &:active{
        color: #FFF;
        background: $color_btn-primary-bg-hover;
        border-color: $color_btn-primary-bg-hover;
    }
    &:disabled{
        background: $color_btn-primary-bg;
        border-color: $color_btn-primary-bg;
        color: #FFF;
    }
}

.connect-paging{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 30px;
    .btn-group{
        margin-left: 20px;
    }
}

.badge-wrap{
    position: relative;
    &.badge-wrap-inline{
        display: inline-block;
    }
    .badge{
        position: absolute;
        right: -5px;
        top: -5px;
    }
}

.site-navbar, .side-left{
    .badge{
        background-color: $color_link-main;
        font-weight: 600;
    }
    .badge-border{
        border: solid 2px #FFF;
    }
    .badge-empty{
        padding: 1px 5px;
    }
}
.side-left{
    .badge-border{
        border-color: $color_side-bg;
    }
}