#buddypress{
    .dir-list.groups{
        .item-list{
            padding: 0;
            list-style: none;
            >li.hidden{
                display: list-item !important;
            }
        }
        .group-panel{
            @include border-radius(0);
            .panel-body{
                padding-top: 10px;
            }
        }
        .item-avatar{
            padding: 5px;
            @media(min-width: 500px){
                float: left;
            }
        }
        .panel-body{
            @media(min-width: 500px){
                margin-left: 155px;
            }
        }
        .meta{
            margin-bottom: 5px;
            color: $color_text-grey;
            font-size: 12px;
            float: none;
        }
        .item-title{
            margin-bottom: 5px;
            margin-right: 20px;
            a{
                color: $color_text-dark;
                font-weight: 600;
                &:hover, &:focus, &:active{
                    color: $color_link-main;
                }
            }
        }
        .item-desc{
            font-size: 13px;
            margin-bottom: 15px;
        }
        .action{
            .item-meta{
                font-size: 12px;
                color: $color_text-grey;
                line-height: 20px;
                margin-top: 6px;
                margin-bottom: 6px;
                margin-right: 15px;
                float: left;
            }
            .group-button{
                float: right;
            }
        }
    }
}

#buddypress{
    .groups-invites{
        h4{
            margin-top: 0;
            font-size: 14px;
            font-weight: 600;
            @media(min-width: 400px){
                margin-left: 60px;
            }
        }
        p.desc{
            font-size: 13px;
            @media(min-width: 400px){
                margin-left: 60px;
            }
        }
    }
}

#group-create-body, #group-settings-form{
    line-height: 1.6;
    h4{
        font-size: 18px;
        color: $color_text-dark;
        font-weight: 600;
        margin: 20px 0 10px 0;
    }
    .btn{
        margin-top: 10px;
        margin-right: 10px;
    }
}

#buddypress{
    #invite-list{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                margin-bottom: 5px;
            }
        }
    }
}

#buddypress{
    #group-create-body, .invite{
        .left-menu{
            margin-bottom: 20px;
            margin-right: 20px;
            padding: 15px;
            background-color: rgba(0,0,0,0.03);
            @media(min-width: 992px){
                float: left;
                width: 250px;
            }
        }
        .main-column{
            @media(min-width: 992px){
                margin-left: 270px;
            }
        }
        & ~ .submit{
            @media(min-width: 992px){
                margin-left: 270px;
            }
        }
    }
    
}

@import "group-single";