.buddypress{
    .bp_group{
        .entry-header .entry-title{
            display: none;
        }
    }
}
#buddypress{
    #item-header{
        #item-header-content{
            .highlight{
                font-weight: 700;
                color: $color_text-dark;
                font-size: 13px;
                margin-top: 0;
                margin-bottom: 5px;
            }
            p{
                font-size: 13px;
                margin: 10px 0;
            }
        }
        h3{
            margin: 10px 0 15px;
            font-size: 14px;
            font-weight: 700;
            color: $color_text-dark;
        }
        #group-admins{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 7px 7px 0;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

#buddypress{
    .manage-members{
        h5{
            margin: 0;
            @media(min-width: 400px){
                margin-left: 40px;
            }
            a{
                color: $color_text-dark;
                font-weight: 600;
                &:hover, &:focus, &:active{
                    color: $color_link-main;
                }
            }
            span{
                display: block;
                margin-top: 5px;
                a{
                    display: inline-block;
                    margin-top: 5px;
                    padding: 5px;
                    border: solid 1px $color_line;
                    color: $color_link-main;
                    &:hover, &:active, &:focus{
                        background-color: #EEE;
                    }
                }
            }
        }
    }
}